<section id="about" class="about">
  <div class="row">
    <div class="headshot">
      <img class="img-responsive" style="width:100%;" src={{site.headshot}}>
    </div>
    <div class="blurb">
      <h2>About</h2>
      <p>Hello! My name is Adrian Yi, I am a self-proclaimed data and board games geek.</p>
      <p>I am currently a Machine Learning Engineer at <a href="https://clusterone.com" target="_blank">Clusterone</a>, Inc., where I focus on distributed deep learning. I am in charge of the ML Docker images and OpenMPI implementations (like Horovod and XGBoost). I also authored a few <a href="https://clusterone.com/tutorials" target="_blank">tutorials</a>.</p>
      <p>I've always had a passion for understanding life using numbers. Hence, I pursued a undergraduate degree in Math & Physics from Franklin & Marshall College in Lancaster, PA.</p>
      <p>Then, I completed my Ph.D. in Physics at Boston University. My research focused on the intersection of Physics and Biochemistry, specifically studying proteins that are relevant to Optogenetics.</p>
      <p>The aspect I enjoyed the most about research was uncovering insights in vast amounts of data and using programming to automate processes.</p>
      <p>While pursuing my Ph.D., I discovered the field of data science and AI/ML. I completed several online courses, personal projects, and <a href="https://www.thedataincubator.com/" target="_blank">a data science fellowship</a>. Through these experiences, I discovered my passion for this area and continue to work on my own projects to advance my knowledge in this space.</p>
    </div>
  </div>
</section>
