<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <!-- As a recent physics PhD graduate, I am interested in applying my deep understanding
         of statistical methods, familiarity with working with data, and programming skills to
         engineering and implementing AI agent -->
        <h2>I am Adrian Yi, a recent physics Ph.D. graduate from Boston University.</h2>
        <p class="lead">I am interested in applying my deep understanding of statistical methods, familiarity in<br>
          working with data, and skills in programming to engineering and implementing AI agents.<p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
