<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>My Work</h2>
        <hr class="small">
        <div class="row">
          {% for post in site.posts %}

          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="{{ post.url }}">
                <img class="img-portfolio img-responsive" src="{{ post.image }}">
              </a>
            </div>
          </div>

          {% endfor %}
        </div>
        <!-- /.row (nested) -->
        <a href="#" class="btn btn-dark">View More Items</a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
