<hr class="small" style="margin-bottom: 20px;">
<section id="portfolio" class="portfolio">
  <div class="portfolio-item featured">
    <a href="https://topicinsight.adrianyi.com/">
      <div class="row">
        <div class="col-xs-3 col-md-2">
          <div class="img-portfolio">
            <img src="/img/portfolio-topicinsight.png">
          </div>
        </div>
        <div class="col-xs-9 col-md-10">
          <div class="align-middle text-portfolio">
            Topic Insight - Realistic Description of Your Unstructured Data (Topic Modeling with LDA)<br>
            (Please be patient as the web server warms up. It may take ~10 seconds.)
          </div>
        </div>
      </div>
    </a>
  </div>

  {% for post in site.posts %}

  {% if post.featured %}
  <div class="portfolio-item featured">
  {% else %}
  <div class="portfolio-item hidden">
  {% endif %}
    <a href="{{ post.url }}">
      <div class="row">
        <div class="col-xs-3 col-md-2">
          <div class="img-portfolio">
            <img src="{{ post.image }}">
          </div>
        </div>
        <div class="col-xs-9 col-md-10">
          <div class="align-middle text-portfolio">
            {% if post.title-long %}
            {{ post.title-long | safe }}
            {% else %}
            {{ post.title | safe }}
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  </div>

  {% endfor %}
  <div class="more btn btn-primary center-block" style="width:10%;min-width:150px;">
      Show more
  </div>
</section>
