<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Sample Projects</h2>
        <h4>Click on the images to view the project!</h4>
        <hr class="small">
        <div class="row">
          {% for post in site.posts %}

          <div class="col-md-6">
            <div class="portfolio-item" style="width:500px;height:333px;overflow:hidden;">
              <a href="{{ post.url }}">
                <img class="img-portfolio img-responsive" src="{{ post.image }}">
              </a>
            </div>
          </div>

          {% endfor %}
        </div>
        <!-- /.row (nested) -->
        <!-- remove for until more items are available
        <a href="#" class="btn btn-dark">View More Items</a>
        -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
