<section id="research" class="research">
    <div class="research-description">
        <h1>Doctoral Research</h1>
        <p>My lab specialized in vibrational spectroscopy of microbial rhodopsins to study their molecular mechanism.
            Microbial rhodopsins are membrane proteins in microbes responsible for ion transport, energy transduction, signaling, etc.
            In response to absorbing light, many of these proteins pump ions, open an ion channel, etc.</p>
        <p>Microbial rhodopsins are of very high interest, especially because of optogenetics.
            Optogenetics is one of the most actively investigated technique in neuroscience.
            Optogenetic rhodopsins can expressed in neurons, which can be activated or silenced using light illumination.
            This significantly improves spatial and temporal specificity compared to the old method of electrical probes.</p>
        <p>Although many optogenetic proteins are being used for variety of applications, their molecular mechanism is not well understood.
            My lab utilized vibrational spectroscopy to better understand the molecular mechanism of these proteins.
            More specifically, I used static and time-resolved UV/Vis spectroscopy, near-IR resonance Raman spectroscopy, and low-temperature and time-resolved FTIR difference spectroscopy.
            Many statistical tools were used to analyze these data, especially to identify differences in spectral peaks and to extract distinct states in a protein's photocycle.</p>
    </div>
    
    <div class="publications">
        <h2>Publications</h2>
        <ul>
            <li><strong>Yi, A.</strong>, Li, H., Mamaeva, N., Fernandez De Cordoba, R. E., Lugtenburg, J., DeGrip, W. J., Spudich, J. L., Rothschild, K. J., Structural Changes in an Anion Channelrhodopsin: Formation of the K and L Intermediates at 80 K. <em>Biochemistry</em>, <b>56</b> (16), 2197-2208 (2017).</li>
            <li><strong>Yi, A.</strong>, Mamaeva, N., Li, H., Spudich, J.L., Rothschild, K.J., Resonance Raman Study of an Anion Channelrhodopsin: Effects of Mutations near the Retinylidene Schiff Base. <em>Biochemistry</em>, <b>55</b> (16), 2371-2380 (2016).</li>
            <li>Ogren, J., <strong>Yi, A.</strong>, Mamaev, S., Li, H., Spudich, J. L., Rothschild, K. J., Proton Transfers in a Channelrhodopsin-1 Studied by Fourier Transform Infrared (FTIR) Difference Spectroscopy and Site-directed Mutagenesis. <em>The Journal of Biological Chemistry</em>, <b>290</b>, 12719-12730 (2015).</li>
            <li>Ogren, J., <strong>Yi, A.</strong>, Mamaev, S., Lugtenburg, J., DeGrip, W. J., Spudich, J. L., Rothschild, K. J., Comparison of the Structural Changes Occuring during the Primary Phototransition of Two Different Channelrhodopsins from <em>Chlamydomonas</em> Algae. <em>Biochemistry</em>, <b>54</b> (2), 377-388 (2015).</li>
            <li>Maedler, C., Keiser, G., <strong>Yi, A.</strong>, Christopher, J., Hong, M.H., Mertiri A., House, L., Seren, H., Zhang, Xin., Averitt, R., Mohanty, P., Erramilli, S., Wireless Transfer of Power by a 35-GHz Metamaterial Split-Ring Resonator Rectenna. <em>arXiv</em>:1608.02490 (2016).</li>
        </ul>
    </div>
</section>